[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.7"

[packages]
md2notion = {editable = true,path = "."}
